<div class="bg-light pt-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <h1 class="fw-bold">
          <span>{{ pageTitle }}</span>
        </h1>
        <h5 class="fw-bold mb-4">
          <span>Something doesn't look quite right</span>
        </h5>
        <p>
          The page you are looking for isn't functioning at 100%. We've sent
          someone to investigate. Sorry for the inconvenience.
        </p>
      </div>
    </div>
  </div>
</div>
